/* @import url("https://fonts.googleapis.com/css2?family=Unbounded&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: "Young Serif", serif;
}

.bg_img {
  width: 100%;
  min-height: 100vh;
  background: url("./assets/img/cloudy.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.input {
  max-width: 20rem;
  height: 7vh;
  border: transparent;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  padding-left: 15px;
}

.group {
  display: flex;
  gap: 5px;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  align-items: center;
  margin: 0.5rem 0;
}

.city {
  margin-top: 2rem;
}

.city,
.temp {
  font-size: 3rem;
}

.box_container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.box {
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.75);
  width: 220px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: transform 0.2s;
}

.box:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 730px) {
  .bg_img {
    padding: 2rem 0;
  }

  .box_container {
    flex-direction: column;
  }

  .box,
  .input {
    width: 70vw;
  }
}
